---
import Layout from "../layouts/Layout.astro";
---

<Layout Title="Manuel Espinosa Sanz">
	<section
		class="min-h-screen flex flex-col justify-center items-center bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white transition-colors"
	>
		<h1 class="text-5xl font-bold mb-4">Bienvenido a mi Portafolio</h1>
		<p class="text-lg">Explora mis proyectos y habilidades.</p>
	</section>
</Layout>
