---
const { Title } = Astro.props;
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon-dark.svg"
			media="(prefers-color-scheme: dark)"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{Title}</title>
	</head>
	<body
		class="min-h-screen bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors"
	>
		<nav class="p-4 justify-end flex">
			<ThemeToggle />
		</nav>
		<slot />
	</body>
</html>
